@charset "utf-8";
/* CSS Document */
body { background-color: #FCF8F8 }
.top_bg { background: -moz-linear-gradient(top, #F9EFEF, #F5FCFE); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9EFEF), color-stop(1, #F5FCFE)); background: -ms-linear-gradient(top, #F9EFEF, #F5FCFE); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#F9EFEF", endColorstr="#F5FCFE", GradientType="0");
}
/*各边框*/
.login_box ul li .input, .p_input, .sms_go, .login_btn_ok { border-color: #981E1E; }
/*背景*/
.login_bidy { background-color: #BC4C4C; }
/*标签背景*/
.login_operate { background-color: #981E1E; }
/*标签*/
.login_operate .tab .float_bg span { color: #ffffff; background-color: #D2603C; background: -moz-linear-gradient(top, #DB8C76, #D2603C); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DB8C76), color-stop(1, #D2603C)); background: -ms-linear-gradient(top, #DB8C76, #D2603C); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#DB8C76", endColorstr="#D2603C", GradientType="0");
}
/*标签内容*/
.login_operate .form { background-color: #D2603C; }
/**/
.static-container .statement-content { background: #981E1E; }
/*按钮*/
.login_btn_ok { background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFE655), to(#FF9900)); background: -moz-linear-gradient(top, #FFE655, #FF9900); background: -ms-linear-gradient(top, #FFE655, #FF9900); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE655, endColorstr=#FF9900, grandientType=1);
color: #000; }
.sms_go { background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF2AA), to(#FFC455)); background: -moz-linear-gradient(top, #FFF2AA, #FFC455); background: -ms-linear-gradient(top, #FFF2AA, #FFC455); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF2AA, endColorstr=#FFC455, grandientType=1);
color: #000; }
/*提示*/
.login_box_title p { color: #ffffff; }
.login_operate .tab, .login_disclaimer dl dd { color: #ffffff; }
.form a { color: #FFFF00 !important; }
.form a:hover { color: #FFFF00 !important; }
/*底部*/
.footer { color: #335571; border-top: 6px solid #EBC8C6; }
