@charset "utf-8";
/* CSS Document */
body { background-color: #F4FFFE }
.top_bg { background: -moz-linear-gradient(top, #E1F7F4, #F4FFFE); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E1F7F4), color-stop(1, #F4FFFE)); background: -ms-linear-gradient(top, #E1F7F4, #F4FFFE); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E1F7F4", endColorstr="#F4FFFE", GradientType="0");
}
/*各边框*/
.login_box ul li .input, .p_input, .sms_go, .login_btn_ok { border-color: #21746B; }
/*背景*/
.login_bidy { background-color: #009883; }
/*标签背景*/
.login_operate { background-color: #21746B; }
/*标签*/
.login_operate .tab .float_bg  span{ color: #ffffff; background-color: #35A097; background: -moz-linear-gradient(top, #3DB3A9, #35A097); background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3DB3A9), color-stop(1, #35A097)); background: -ms-linear-gradient(top, #3DB3A9, #35A097); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3DB3A9", endColorstr="#35A097", GradientType="0");
}
/*标签内容*/
.login_operate .form { background-color: #35A097; }
/**/
.static-container .statement-content { background: #21746B; }
/*按钮*/
.login_btn_ok { background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFE655), to(#FF9900)); background: -moz-linear-gradient(top, #FFE655, #FF9900); background: -ms-linear-gradient(top, #FFE655, #FF9900); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE655, endColorstr=#FF9900, grandientType=1);
color: #000; }
.sms_go { background: -webkit-gradient(linear, 0 0, 0 100%, from(#BDECE9), to(#83D1CB)); background: -moz-linear-gradient(top, #BDECE9, #83D1CB); background: -ms-linear-gradient(top, #BDECE9, #83D1CB); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#BDECE9, endColorstr=#83D1CB, grandientType=1);
color: #000; }
/*提示*/
.login_box_title p { color: #ffffff; }
.login_operate .tab, .login_disclaimer dl dd { color: #ffffff; }
.form a { color: #FC0  !important; }
.form a:hover { color: #FC0 !important; }
/*底部*/
.footer { color: #335571; border-top: 6px solid #C3EAE5; }
